* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}
.container {
    position: relative;
    display: block;
    max-width: 390px;
    height:100vh;
    margin: 0 auto;
}
html {
    background-color: #000;
}
@font-face {
    font-family: 'SF_IceMango';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceMango.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.logo {
    position:relative;display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: 'SF_IceMango';
    font-size: 2.5rem;
    color: #fff;
}