body {
  margin: 0;
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
  font-family: 'GangwonEdu_OTFBoldA';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
